<div style="width: 1024px; margin: 0 auto">

  <mat-chip-list aria-label="Fish selection">

    <mat-chip *ngFor="let book of books" (click)="detailsShow(book)">ID: {{book.id}} | {{book.titolo}}</mat-chip>

  </mat-chip-list>


  <div *ngIf="isDetails">
    <mat-accordion [ngStyle]="{'margin-top': '500px'}">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{selectedBook.titolo}}
          </mat-panel-title>
          <mat-panel-description>
            This is a summary of the content
          </mat-panel-description>
        </mat-expansion-panel-header>
          <ul>
            <li>Anno di pubblicazione : {{selectedBook.anno_pubb}}</li>
            <li>ISBN: {{selectedBook.isbn}}</li>
            <li>Trama: {{selectedBook.trama}}</li>
            <li>Copertina: {{selectedBook.copertina}}</li>
            <li>Copie: {{selectedBook.copie}}</li>
            <li>Argomento:  {{selectedBook.argomento}}</li>
            <li>Editore: {{selectedBook.nome}}</li>
          </ul>
      </mat-expansion-panel>


    </mat-accordion>
  </div>
</div>
