/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.myapp-no-padding-dialog .mat-dialog-container {
  padding: 400px;
}

div.ng-star-inserted {
  margin-top: 50px;
}
